@charset "UTF-8";

body {
	width: 100%;
	font-family: 'Nanum Gothic', sans-serif;
	color : #000;
}

#wrapper {
	width: 1150px;
	margin: 0 auto;
}

h1 {
	text-align: left;
	margin: 50px auto;
	font-size: 46px;
}

h2 {
	clear: both;
}

.whole {
	width: 100%;
	overflow: hidden;
}

.half {
	width: 50%;
	float: left;
	margin-bottom: 20px;
}

.card {
	float: left;
	display: block;
	overflow: hidden;
	position: relative;
	border: 0px;
	border-radius: 14px;
	box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
	width: 90%;
	margin: 15px 5%;
}

.cont {
	margin: 10px;
}

.cont p .color {
	color: #F15F5F;
}

.cont .title {
	font-size: 20px;
	border-bottom: 1px solid #bbb;
}

table {
	width: 100%;
}

table th {
	background-color: rgb(253, 240, 192);
	text-align: center;
	width: 12.5%;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #999;
	font-size: 16px;
}

table th:last-child {
	border-right: 0;
}

table td {
	text-align: center;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #999;
	padding: 10px 0;
}

table tr:last-child td {
	border-bottom: 0;
}

.final {
	margin-bottom: 50px;
}