@charset "UTF-8";

body {
	width: 100%;
	background-image: url(./background.jpg);
	font-family: 'Noto Sans Korean';
	color : #f6f6f6;
}

h1 {
	width: 450px;
	padding: 10px 0;
	background: rgb(32, 35, 40);
	border-radius: 5px;
	text-align: center;
	margin: 100px auto 50px auto;
	color: #f6f6f6;
	font-size: 50px;
	font-weight: bolder;
}

form {margin: 0 auto 50px auto; width: 80%; text-align: center;}
form #cont {margin: 0 auto; width: 270px; padding: 0 5px; background: rgb(32, 35, 40); border-radius: 5px;}
form #cont label {font-size: 18px; font-weight: bold;}

button {margin: 0 auto;}